pywebview==6.2.1

qtpy==2.4.3

PyQt6==6.11.0
PyQt6-WebEngine==6.11.0

customtkinter==6.0.0

lupa==2.8

fastapi>=0.141.1

uvicorn>=0.52.4
uvicorn[standard]>=0.52.4

requests>=2.34.2

prayoadmii-lib>=0.1.2